<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vue training</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
  <style>
    .canvas {
      margin-top: 10px;
      width: 200px;
      height: 200px;
      border: 1px solid gray;
    }
  </style>
</head>
<body>
  <div id="vue-app">
    <h3>Event modifiers</h3>
    <form>
      <input>
      <input type="submit" value="Submit" @click.prevent="handleSubmit">
    </form>
    <a @click.prevent href="google.com">Google</a>
    <input type="text" @change.ctrl.enter="handleInput">

    <h3>Two way data binding</h3>
    <div><h3>{{ name }}</h3></div>
    <input type="text" v-model="name">
    <input type="checkbox" id="terms" v-model="acceptTerms">
    <label for="terms">Accept terms</label>
    <pre>
      {{ acceptTerms }}
    </pre>

    <h3>Conditionals</h3>
    <!-- v-if, v-else, v-else-if -->
    <div v-if="name === 'Ashish'">If</div>
    <div v-else-if="name === 'kiran'"></div>
    <div v-else-if="name === 'santosh'">Santosh</div>
    <div v-else>Else</div>
    
    <!-- v-show -->
    <h4>v-show</h4>
    <div v-show="name === 'Ashish'">V- show message</div>

    <!-- computed properties -->
    <h3>Computed</h3>
    <div>
      <h4>A + Age {{ aPlusAge }}</h4>
      <h4>B + Age {{ bPlusAge }}</h4>
      <button @click="addToA">Add to A</button>
      <button @click="addToB">Add to B</button>
    </div>
  </div>
</body>

<script>
  new Vue({
    el: '#vue-app',
    data: {
      name: 'xyz',
      acceptTerms: false,
      a: 0,
      b: 0,
      age: 20
    },

    computed: {
      aPlusAge() {
        console.log('I am A')
        return this.a + this.age
      },
      bPlusAge() {
        console.log('I am B')
        return this.b + this.age
      },
    },

    methods: {
      handleSubmit(event) {
        // event.preventDefault()
        console.log('submitted')
      },
      handleInput(event) {
        console.log(event.target.value)
      },
      // aPlusAge() {
      //   console.log('I am A')
      //   return this.a + this.age
      // },
      // bPlusAge() {
      //   console.log('I am B')
      //   return this.b + this.age
      // },
      addToA() {
        this.a += 1
      },
      addToB() {
        this.b += 1
      }
    }
  });
</script>
</html>